body { background: #dd140d; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 58px; display: flex; }
.block-validator-0 { color: #f82b16; font-size: 16px; margin-bottom: 5px; }
.block-shipping-1 { color: #4c1fa4; font-size: 21px; margin-bottom: 5px; }
.block-email-2 { color: #528784; font-size: 12px; margin-bottom: 5px; }
.block-user-3 { color: #c6fb0c; font-size: 15px; margin-bottom: 5px; }
.block-helper-4 { color: #68da7; font-size: 12px; margin-bottom: 5px; }
.block-auth-5 { color: #bc89c; font-size: 16px; margin-bottom: 5px; }